<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Stoffi</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>CFBundleIdentifier</key>
	<string>Stoffi</string>
	<key>CFBundleShortVersionString</key>
	<string>1373103156</string>
	<key>CFBundleIconFile</key>
	<string>blue_on_transparent_256</string>
	<key>CFBundleVersion</key>
	<string>Xin</string>
</dict>
</plist>
