<div id="main">
	<div class="white box">
		<h1><%=t "app.edit" %></h1>
		<%= form_for :app, :url => app_path(@app), :html => {:method => :put}  do |f| %>
			<%= render :partial => "form", :locals => { :f => f } %>
		<% end %>
	</div>
</div>

<div id="sidebar">
	<%= render :partial => "sidebars/user" %>
</div>