<h1>Welcome to Stoffi</h1>
<%= link_to image_tag("start.jpg", :width => 500), download_path, :target => "_blank" %>
<p>
	Stoffi is the world's next music player.
</p>
<p>
	It gives you free access to millions of tracks without any commercials or ads. It has a beautiful interface and is very easy to use.
</p>
<p>
	With silent upgrades and an automatic scanner it stays out of your face. No popups, no interruptions.
</p>