<h1>How It All Began</h1>
<div id="info" style="font-size: 1.5em; width: 600px;">
	<p>
		Hi!
	</p>
	<p>
		My name is Christoffer Brodd-Reijer and I'm going to tell you the story on
		how I created this little pet project of mine.
	</p>
	<p>&nbsp;</p>
	<h2>Origin: Linux</h2>
	<p>
		Every since I was a little nerdling I have been tinkering with Linux. Shortly after 
		Windows XP came out I made the full switch to it. I wiped all computers clean
		of any Windows systems and used only Linux on my main computers. My choice of 
		distributions varied a lot. I played with Debian and Slackware at first, then 
		moved onto SuSE and Fedore, took a detour to Gentoo and even played with LFS 
		a bit, then pretty much ended up with Ubuntu the last years.
	</p>
	<p>&nbsp;</p>
	<h2>All Hail Lucky Seven</h2>
	<p>
		Then Windows 7 came out.
		<br/>
		I tried it, loved it, switched to it.
	</p>
	<p>
		I got a really nostalgic feeling when some of those old Windows 2000 (the Windows version
		I used the most) memories came back to me. I had stayed as far away from Vista as I could
		but Windows 7 really worked for me.
	</p>
	<p>
		Being back in the Windows camp meant I had a vastly larger library of software to choose from.
		I started right away. Tested out old stuff like Winamp and VLC, tried some software I'd never
		had the chance to really play with like Safari, iTunes and the latest IE (which was number 8 at the time).
		I also got to check out the latest Photoshop and Microsoft Office. Oh, and the games. I went back
		to Rollercoster Tycoon, Theme Hospital and Unreal Tournament, and also checkout out the latest
		version of Civilization.
	</p>
	<p>&nbsp;</p>
	<h2>Really, This Is It?</h2>
	<p>
		The first thing that struck me was how blatently ugly almost everything was. Aero was a really great UI
		but almost no developer seemed to care about using the stock toolkit. They even skinned the
		Close/Maximize/Minimize buttons!
	</p>
	<p>
		So I had to do something about it. But I couldn't just fetch the source and change it, at least not
		for most software. Open was almost as common on Windows as proprietary was on Linux.
		"But I have a lifetime ahead of me", I thought and decided to get started.
	</p>
	<p>&nbsp;</p>
	<h2>Everything Starts With The Music</h2>
	<p>
		When I hack I need music. But there was no really good player out there. They all missed something.
		So why not start with that? I decided that my first project was going to be a music player!
		There was three great applications that inspired me to shape Stoffi the way I did.
	</p>
	<p>
		First I needed something that looked and felt native. That was like an extension of Windows 7.
		So I decided to mimic the most native Windows application I know: Explorer. While I was at it 
		I tried out all the new Windows 7 features like Jumplists, Taskbar buttons and so on.
	</p>
	<p>
		Another great inspiration was the upgrade mechanism of Google Chrome. So I made sure that my player
		could upgrade itself without the user having to do anything (except restart the program). I also 
		made sure that there was no scanner button, it was supposed to detect and process changes automatically.
		As you may notice I really didn't want to be interrupted when I was going to use this player.
	</p>
	<p>
		My last inspiration was VLC. I love how it plays everything I throw at it. So I looked around and found
		a library that gave me support for over 25 different codecs. Great!
	</p>
	<p>&nbsp;</p>
	<h2>Help Comes Along</h2>
	<p>
		During this time I started to get a lot of bug reports from one single guy, Hylton Clarke. He submitted some really
		awesome feature requests and helped me with some bugs. When it was time for the first release
		of Stoffi he made some suggestions on how I could spread it, which websites I should be on, etc. 
		I asked him to become part of the team and be in charge of promoting Stoffi. He kindly agreed.
	</p>
	<p>
		Wooho!
	</p>
	<p>&nbsp;</p>
	<h2>Two Becomes Three, and Four</h2>
	<p>
		A week after our first release I was contacted by Tianwen Zhang who wanted to help with some development and Chinese
		translation. I gladly accepted and started to hack on a translation system while he as assigned the task to redesign
		the details pane.
	</p>
	<p>
		Shortly thereafter a fellow student here at the Uppsala University, Mark Tibblin, started to help out on some smaller
		tasks such as cleaning up my older code and writing some specifications. We were now four guys working on this, thus
		we needed a name!
	</p>
	<p>
		So, since I love democracy and openness I put it up for a vote. Everyone threw out their suggestions and then we voted.
		The name we choose was "Simplare", one of Hylton's suggestions.
	</p>
	<p>&nbsp;</p>
	<h2>Winamp, meet Spotify!</h2>
	<p>
		When I was developing the first version of Stoffi I faced the competition of Winamp. That was what my girlfriend
		was using and I wanted to make her switch. Mind you, she is not afraid of saying "that isn't good enough, I can't
		use it" and throwing me back to the drawing board. But when I finally was able to create something that could
		replace Winamp on her computer... then along comes Spotify.
	</p>
	<p>
		Now she wanted to listen to music she didn't even have. How was I supposed to give her that? She didn't have a premium
		Spotify account (and was never gonna get it) so accessing the Spotify API was out of the question. The solution was to
		access the free YouTube API and use it to get access to all those tracks.
	</p>
	<p>&nbsp;</p>
	<h2>Hackathon Galore!</h2>
	<p>
		During the summer I started to work on the YouTube feature among some other cool stuff I had in store. I found some more
		Stoffi lovers and beta tester at my summer job. They loved the YouTube feature.
	</p>
	<p>
		When I was starting to get ready for my studies again I happened to remember that a couple of friends of mine used
		their own hobby project, which was a computer game, to hack on as part of their studies. Getting credits while hacking
		on Stoffi sounded like good idea so I decided to go for it.
	</p>
	<p>
		When I told some friends about my plans they liked the idea and wanted to hook up. So I gathered three extra students and we started
		what I call the <a href="http://dev.stoffiplayer.com/wiki/Hackathon11">"Stoffi Hackathon of 2011"</a>.
		We each took on a task that we wanted to hack on during the fall and got to work. The Hackathon is still in progress so
		<a href="http://blog.stoffiplayer.com/">check out our blog</a> for 
		<a href="http://blog.stoffiplayer.com/search/label/report">weekly reports</a>.
	</p>
	<p>&nbsp;</p>
	<h2>Keep On Goin'</h2>
	<p>
		I love this project. It got bigger than I expected but now I can't stop. So please, try it, use it, tell me what you want
		fixed and help me create the world's next music player.
	</p>
	<p>
		Cheers!
	</p>
</div>
