<div class="main center">
	<div class="goldenbox">
		<h1 class="title">Stoffi Remote</h1>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>Remote information goes here.</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</div>
