<h1>Design for Stoffi</h1>
<p>Even though Stoffi has a great amount of focus on the design of the application we don't have a dedicated designer. Most of the graphics are done by Christoffer, whom have no clue how to use Photoshop. If you feel like you have some artistic skills you think can contribute to the project it will be very much appreciated.</p>
<p>The design should focus on familiarity and simple but elegant beauty. Since the project is very open in nature we want to create PSD or SVG files for anyone to download and use. In essence making the art open source as well.</p>

<h2>Icons and graphics</h2>
<p>Most of the icons in the application are from the stock collection of the operating system. However, there's one icon we had to create ourselves and it is a disaster. It is the icon used in the tray in Windows 7, at the bottom right, next to the volume and clock. We want it to be white with a black outline so it matches the other icons (volume, network, etc). But the icon needs to be in an ICO format and scalable. If you're up to it you can create a better looking icon for us.</p>
<p>You can also help us create some nice, discrete graphics for the website. Some of our current graphics have some rough edges or may be a little confusing. There's always room for improvement.</p>

<h2>Application and website layout</h2>
<p>When making an appealing interface it's also important to have a structured layout to make it easy for a user to know where to find stuff. At Stoffi we are trying to focus on what we call "Situation Adaptable Design" which means that the interface should adapt depending on the current situation. An example is the upgrade settings, which will show additional buttons if the user selects manual control over upgrades. This way the interface is clean and sparse by default but can present additional controls for more advanced users.</p>
<p>If you want to become a Stoffi designer just send us an email using the form on the contact page.</p>

<p>&nbsp;</p>
<%= link_to t("links.back"), contribute_path, :class => "button down" %>
<%= link_to t("contact.link"), contact_path, :class => "button down" %>