<h1><%=t "contribute.why.header" %></h1>

<%=t "contribute.why.intro_html" %>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et orci libero. Nulla sem velit, venenatis et fringilla ut, bibendum eget quam. Donec ante odio, feugiat a scelerisque sed, aliquam non neque. Proin laoreet hendrerit porttitor. Ut vestibulum diam at dolor facilisis sit amet bibendum diam congue. Pellentesque lectus lorem, mattis quis aliquam in, lobortis at ante. Pellentesque pretium aliquam nibh quis ullamcorper. In vel purus sed ipsum sodales laoreet sed quis erat. Praesent aliquam dolor eget elit ultrices ullamcorper. Fusce vel elit vel risus suscipit porta. Duis mi erat, vestibulum a pellentesque in, imperdiet a tortor. Nunc pulvinar, nibh quis tempor varius, risus purus interdum dolor, non fringilla augue lectus at augue.
</p>
<p>
Fusce nec suscipit nisi. Vestibulum non lorem quis tellus placerat elementum. Curabitur sollicitudin euismod sollicitudin. Curabitur tempor pretium arcu, a fringilla nunc ornare nec. Proin sed elit arcu, et dapibus dui. Pellentesque ultrices, nibh sed semper suscipit, sem libero commodo lectus, in laoreet tortor mauris ut ipsum. Ut ut quam magna. Donec vehicula orci tortor. Pellentesque sed odio nec orci vestibulum molestie quis eget turpis. In pulvinar risus ut ante euismod ut condimentum enim convallis. Fusce vitae interdum urna.
</p>

<%= link_to t("links.back"), contribute_path, :class => "button down" %>