<h1>Write documentation</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Suspendisse vel justo elit, nec malesuada orci. Sed vel nunc lorem. Curabitur aliquam pulvinar erat ut ornare. Sed porta nisi id turpis ornare non accumsan arcu fermentum. Suspendisse sed ligula arcu, nec tristique lacus. Sed eu quam erat, ac rhoncus dui. Quisque mollis, metus sed pharetra sagittis, risus urna ultricies libero, at scelerisque libero ligula ut sem.</p>

<h1>Fill the wiki</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Suspendisse vel justo elit, nec malesuada orci. Sed vel nunc lorem. Curabitur aliquam pulvinar erat ut ornare. Sed porta nisi id turpis ornare non accumsan arcu fermentum. Suspendisse sed ligula arcu, nec tristique lacus. Sed eu quam erat, ac rhoncus dui. Quisque mollis, metus sed pharetra sagittis, risus urna ultricies libero, at scelerisque libero ligula ut sem.</p>

<h1>Tutorials, guides and examples</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>&nbsp;</p>
<%= link_to t("links.back"), contribute_path, :class => "button" %>