div.button, a.button, span.button
{
	margin: 8px 10px;
	padding: 3px 20px 4px;
	font-size: 10pt;
	display: inline-block;
	text-align: left;
	
	border: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.3);
	
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-ms-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
	background-image: -khtml-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
	background-image: linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
	
	img
	{
		display: inline-block;
		border-right: 1px solid rgba(0,0,0,0.2);
		vertical-align: middle;
		margin: 0px 10px 0px -15px;
		padding-right: 5px;
		min-width: 20px;
		min-height: 20px;
	}
	
	.text
	{
		display: inline-block;
		vertical-align: middle;
		margin-top: -3px;
		h1
		{
			margin:0;
			padding-top: 0px;
			text-transform: uppercase;
			font-size: 12pt;
			color: rgba(0,0,0,0.5);
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
		}
		h1.large { font-size: 16pt; }
		
		span
		{
			display: block;
			font-style: italic;
			color: rgba(0,0,0,0.3);
		}
	}
	
	&:hover
	{
		cursor: pointer;
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.3));
		background-image: -khtml-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.3));
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.3));
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.3));
		background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.3));
		background-image: linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.3));
		box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.5);
		border: 1px solid rgba(0,0,0,0.3);
		border-bottom: 1px solid rgba(0,0,0,0.5);
	}
}

a, div, span { &.button
{
	&.blue, &.green
	{
		h1
		{
			text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
			color: rgba(255,255,255,0.8);
		}
		span { color: rgba(255,255,255,0.6); }
	}
} }

.blue div.button, .blue a.button, .blue span.button
{
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
	&:hover { box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.2); }
}

.white.box div.button, .white.box a.button, .white.box span.button { margin: 8px 0px; }

div.small.button, a.small.button, span.small.button
{
	padding: 0px 10px 0px;
	.text
	{
		margin-top: -7px;
		h1 { font-size: 8pt; }
	}
	img
	{
		width: 14px;
		height: 14px;
		min-width: 1px;
		min-height: 1px;
		margin: -5px 7px 0px -6px;
	}
}

div.huge.button, a.huge.button, span.huge.button
{
	padding: 5px 40px;
	.text { h1 { font-size: 25pt; }  }
}

.social-buttons
{
	padding-top: 5px;
	.plus-button, .like-button, .tweet-button
	{
		display: inline-block;
		vertical-align: top;
	}
}

.playback
{
	.button
	{
		width: 50px;
		height: 25px;
		padding: 0;
		text-align: center;
		line-height: 20px;
		
		img
		{
			margin: 0;
			padding: 0;
			border: 0;
			min-width: 0;
			min-height: 0;
		}
	}
	
	.group
	{
		margin-right: 20px;
	}
	
	input
	{
		vertical-align: middle;
	}
}
