$color1: lighten(#FECB00, 10%);
$color2: lighten(#005293, 20%);

.dialog
{
	width: 400px;
	text-align: left;
	position: relative;
	left: 50%;
	margin: 50px 0px 0px -200px;
}

#dialog
{
	z-index: 1501;
	position: absolute;
	top: 50px;
	left: 50%;
	width: 500px;
	margin-left: -250px;
}

#dimmer
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1500;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 300px 100px rgba(0,0,0,0.5);
}

div.loading
{
	height: 300px;
	text-align: center;
	vertical-align: middle;
	line-height: 300px;
	img
	{
		vertical-align: middle;
	}
}