.editable
{
	border: 1px solid transparent;
	&:hover { border: 1px solid rgba(0,0,0,0.3); }
}

h1.editable
{
}

.editable-h1
{
	margin: 18px 0px 3px;
	padding: 0px 0px;
	font-size: 28pt;
	display: block;
	font-family: segoe ui;
}