$color1: lighten(#FECB00, 10%);
$color2: lighten(#005293, 20%);

form
{
	.message
	{
		border-bottom: 1px solid rgba(0,0,0,0.2);
		padding-bottom: 15px;
		margin-bottom: 20px;
	}
	
	.empty
	{
		padding: 5px 0px;
		margin: 0;
		font-size: 12pt;
		font-style: italic;
		color: rgba(0,0,0,0.5);
	}
	
	.separator
	{
		border-bottom: 1px solid rgba(0,0,0,0.2);
		padding-bottom: 15px;
		margin-bottom: 20px;
	}
	
	label
	{
		font-size: 16pt;
		font-style: italic;
		display: block;
		margin-top: 10px;
	}
	
	input, textarea
	{
		padding: 5px 10px;
		background: white;
		border: 1px solid black;
	}
		
	input[type="checkbox"]
	{
		border: 0;
		padding: 0;
	}
	
	.note
	{
		font-size: 8pt;
		padding-left: 10px;
	}
	
	.red.note { color: rgba(150,0,0,0.8); }
	
	p.notice
	{
		font-style: italic;
		margin: 0;
		padding: 0px 0px 10px;
	}

	div.notice
	{
		color: rgba(0,100,0,0.5);
		background: url(/assets/gfx/notice.png), rgba(100,255,100,0.1);
		background-position: 15px 10px;
		background-repeat: no-repeat;
		border: 1px solid rgba(0,100,0,0.5);
		font-size: 12pt;
		margin: 10px 0px;
		padding: 10px 50px;
	}

	div.alert
	{
		color: rgba(100,0,0,0.5);
		background: url(/assets/gfx/error.png), rgba(255,100,100,0.1);
		background-position: 15px 10px;
		background-repeat: no-repeat;
		border: 1px solid rgba(150,0,0,0.5);
		font-size: 12pt;
		margin: 10px 0px;
		padding: 10px 50px;
	}

	.field_with_errors
	{
		input
		{
			border-color: rgba(150,0,0,0.5);
			background: rgba(255,200,200,0.1);
		}
	}
	
	.radio
	{
		.choice
		{
			display: inline-block;
			text-align: center;
			margin-right: 20px;
			margin-top: 5px;
			.value
			{
				display: block;
				img { display: block; }
			}
			.label
			{
				display: block;
				font-size: 8pt;
				color: rgba(0,0,0,0.4);
			}
			.control
			{
				display: block;
				input { margin-top: 5px; }
			}
		}
	}
	
	.radio.text
	{
		.choice
		{
			text-align: left;
			.label
			{
				padding-left: 24px;
			}
			.control
			{
				display: inline-block;
				line-height: 20px;
				vertical-align: middle;
				input { margin: 0; }
			}
			.value
			{
				display: inline-block;
				line-height: 20px;
			}
		}
	}
	
	.checkbar
	{
		margin: 5px 0px;
		vertical-align: middle;
		img
		{
			vertical-align: middle;
		}
	}
	
	.bottom
	{
		border-top: 1px solid rgba(0,0,0,0.2);
		padding-top: 15px;
		margin-top: 40px;
	}
}


.ui-autocomplete-loading
{
	background-image: url('/assets/gfx/ajax_loading_small_white.gif') !important;
	background-position: center right !important;
	background-repeat: no-repeat !important;
}

.ui-autocomplete
{
	background: white !important;
	z-index: 5000 !important;
	border: 1px solid black !important;
	border-radius: 0px !important;
	text-align: left;
	position: absolute;
	
	.ui-autocomplete-category
	{
		font-size: 10pt;
		
		.strike
		{
		}
		.text
		{
			color: rgba(0,0,0,0.6);
			padding: 0px 5px;
		}
	}
	
	.ui-menu-item
	{
		text-transform: none;
		margin: 0;
		font-style: normal;
		
		.ui-corner-all { border-radius: 0px !important; }
		
		.ui-state-focus
		{
			background: transparentize($color1, 0.5) !important;
			margin: 0 !important;
		}
		a
		{
			display: block;
			text-shadow: none;
			border: 0 !important;
			padding: 5px 10px;
			
			h1
			{
				font-size: 10pt;
				margin: 0;
				padding: 0;
				max-width: 280px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: rgba(0,0,0,0.9);
			}
			
			h2
			{
				font-size: 8pt;
				margin: 0;
				padding: 0;
				max-width: 280px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			&:hover
			{
				text-decoration: none;
			}
		}
			
		&:hover
		{
			background: transparent !important;
		}
	}
	
	.ui-menu-filler
	{
		height: 0px;
		background: transparent !important;
		border: 0 !important;
	}
}

.dialog
{
	form
	{
		margin-top: 10px;
		label
		{
			text-transform: lowercase;
		}
		
		.bottom
		{
			padding: 20px 0px 0px 20px;
		}
		
		input
		{
			border-bottom: 1px solid rgba(255,255,255,0.2);
			border-right: 1px solid rgba(255,255,255,0.2);
			border-top: 1px solid rgba(0,0,0,0.2);
			border-left: 1px solid rgba(0,0,0,0.2);
			background: transparent;
			&:-moz-placeholder { color: rgba(0,0,0,0.4); text-transform: lowercase; }
			&::-o-placeholder { color: rgba(0,0,0,0.4); text-transform: lowercase; }
			&:-ms-input-placeholder { color: rgba(0,0,0,0.4); text-transform: lowercase; }
			&::-webkit-input-placeholder { color: rgba(0,0,0,0.4); text-transform: lowercase; }
		}
		
		a:hover { color: rgba(0,0,0,0.8); }
		img { vertical-align: middle; }
		
		.button
		{
			text-transform: uppercase;
			cursor: pointer;
			margin: 0px 0px 10px 0px;
		}
		
		#recaptcha_area
		{
			margin: 20px auto 0px auto;
			text-shadow: none;
			text-transform: none;
		}
		
		.devise-links
		{
			padding-top: 5px;
		}
	}
}

.notice, .alert
{
	padding: 30px 0px 20px;
}