$color1: lighten(#FECB00, 10%);
$color2: lighten(#005293, 20%);

header
{
	white-space: nowrap;
	text-align: center;
	text-transform: lowercase;
	font-size: 10pt;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1000;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
	
	.container
	{
		padding: 3px 10px 2px;
		margin: 0px;
		background-color: $color2;
		box-shadow: inset 0px 5px 10px rgba(0,0,0,0.1);
		border-bottom: 1px solid rgba(0,0,0,0.1);
		
		a
		{
			-webkit-transition: background 0.3s;
			-moz-transition: background 0.3s;
			-ms-transition: background 0.3s;
			-o-transition: background 0.3s;
			transition: background 0.3s;
			display: inline-block;
			padding: 5px 10px;
			color: #cce8fe;
			img
			{
				-webkit-transition: opacity 0.3s;
				-moz-transition: opacity 0.3s;
				-ms-transition: opacity 0.3s;
				-o-transition: opacity 0.3s;
				transition: opacity 0.3s;
			}
			&:hover
			{
				background: rgba(0,0,0,0.1);
				color: white;
				text-decoration: none;
				img { opacity: 1; }
			}
		}
		
		.active
		{
			background: rgba(0,0,0,0.1);
		}
		
		.separator
		{
			display: inline-block;
			border-right: 1px solid #49acfa;
			width: 0px;
			margin: 0px 10px;
		}
		
		.auth
		{
			padding: 5px 5px;
			margin: 0px -2px 0px;
			//vertical-align: middle;
		}
		img { margin-bottom: -3px; opacity: 0.8; }
		.logo
		{
			margin-top: -5px;
			vertical-align: middle;
		}
		.active { img { opacity: 1; } }
		
		.search-form
		{
			display: inline-block;
			height: 20px;
			vertical-align: top;
			padding: 4px 0px 0px;
			.search
			{
				width: 70px;
				opacity: 1;
				background: rgba(255,255,255,0.2);
				border: 0px;
				font-family: segoeui, segoe ui, helvetica, sans serif;
				border-radius: 10px;
				outline: none;
				padding: 1px 0px 1px 10px;
				&:-moz-placeholder { color: #cce8fe; text-transform: lowercase; }
				&::-moz-placeholder { color: #cce8fe; text-transform: lowercase; }
				&:-ms-input-placeholder { color: #cce8fe; text-transform: lowercase; }
				&:-o-placeholder { color: #cce8fe; text-transform: lowercase; }
				&::-webkit-input-placeholder { color: #cce8fe; text-transform: lowercase; }
			}
			.active-search
			{
				&:-moz-placeholder { color: gray; }
				&::-moz-placeholder { color: gray; }
				&:-ms-input-placeholder { color: gray; }
				&:-o-placeholder { color: gray; }
				&::-webkit-input-placeholder { color: grey; }
			}
		}
		
		#search-menu
		{
			h1 { display: inline-block; }
			.icon
			{
				display: inline-block;
				width: 16px;
				height: 16px;
				margin-right: 5px;
			}
			.ui-widget-content
			{
				background: transparent;
				border: 0px;
			}
		}
		
		.dropdown
		{
			display: inline-block;
			.dropdown-label
			{
			}
			.dropdown-menu
			{
				position: absolute;
				margin: 5px 0px 0px 0px;
				text-align: left;
				padding: 0px;
				z-index: 5001;
				text-transform: lowercase;
				list-style-type: none;
				background-color: $color2;
				box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
				img { margin: 0; }
				li
				{
					font-style: normal;
					font-size: 10pt;
					margin: 0;
					a
					{
						display: block;
					}
					
					.head
					{
						margin-left: 40px;
						img
						{
							position: absolute;
							left: 10px;
							top: 7px;
						}
						h1, h2 { margin: 0; }
						h1 { font-size: 10pt; font-weight: bold; }
						h2 { font-size: 10pt; font-style: normal; color: rgba(255,255,255,0.8); }
					}
					
					&.divider
					{
						border-bottom: 1px solid rgba(255,255,255,0.3);
						height: 1px;
						display: block;
						margin: 2px 10px;
						padding: 0;
					}
				}
			}
		}
	}
}


#navigation
{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 5001;
	height: 200%;
	text-transform: lowercase;
	box-shadow: -3px 0px 5px rgba(0,0,0,0.1);
	border-left: 1px solid rgba(0,0,0,0.1);
	
	background-color: $color2;
	
	ul
	{
		text-align: right;
		list-style-type: none;
		padding: 0px;
		margin: 3px 15px;
		li
		{
			font-style: normal;
			a
			{
				-webkit-transition: background 0.3s;
				-moz-transition: background 0.3s;
				-ms-transition: background 0.3s;
				-o-transition: background 0.3s;
				transition: background 0.3s;
				display: inline-block;
				padding: 5px 10px;
				color: #cce8fe;
				img
				{
					-webkit-transition: opacity 0.3s;
					-moz-transition: opacity 0.3s;
					-ms-transition: opacity 0.3s;
					-o-transition: opacity 0.3s;
					transition: opacity 0.3s;
				}
				&:hover
				{
					background: rgba(0,0,0,0.1);
					color: white;
					text-decoration: none;
					img { opacity: 1; }
				}
			}
			
			.active
			{
				background: rgba(0,0,0,0.1);
			}
		}
		
		.separator
		{
			display: inline-block;
			border-top: 1px solid #49acfa;
			width: 0px;
			margin: 10px 0px;
		}
	}
}
