$color1: lighten(#FECB00, 10%);
$color2: lighten(#005293, 20%);

#remote-control
{
	table-layout: fixed;
	color: white;
	border-collapse: separate;
	border-spacing: 10px;
	margin: 0px;
	padding: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid black;
	
	td
	{
		box-sizing: border-box;
		border-radius: 5px;
		vertical-align: middle;
	}
	
	#message
	{
		font-size: 14pt;
		padding: 30px;
	}
	
	td.button
	{
		border: 1px solid #444;
		text-transform: uppercase;
		background: -webkit-gradient(
			linear, left top, left bottom,
			color-stop(0, #666),
			color-stop(0.5, #444),
			color-stop(0.5001, #000)
		);
		img
		{
			height: 40%;
			max-height: 80%;
			max-width: 80%;
			vertical-align: middle;
		}
	}
	.display.list
	{
		vertical-align: top;
		.window
		{
			text-align: left;
			padding: 2px;
			height: 90%;
			width: 90%;
			ul.vertical
			{
				li
				{
					a.item
					{
						font-size: 8pt;
						font-weight: bold;
					}
					.meta
					{
						font-size: 8pt;
						font-weight: normal;
					}
					
					&.active
					{
						a.item { color: black; }
						.meta { color: black; }
					}
				}
			}
		}
	}
	.display.compact.list .window ul.vertical li
	{
		max-width: none;
		margin: 1px 2px;
		padding: 2px 0px;
		a.item { margin: 0; padding: 0; }
		p
		{
			display: inline-block;
			min-width: 130px;
		}
		.meta { min-width: 0; }
	}
	.display
	{
		h1
		{
			font-size: 8pt;
			text-transform: uppercase;
			font-weight: bold;
			color: rgb(150,150,150);
			margin: 0;
		}
		
		.window
		{
			box-sizing: border-box;
			box-shadow: 0px 1px 3px #555 inset;
			width: 80%;
			background: white;
			/*border: 1px solid #333;*/
			border-radius: 5px;
			margin: 3px auto;
			padding: 5px;
			h1
			{
				margin: 0;
				font-size: 12pt;
				font-weight: normal;
				color: black;
				text-transform: none;
			}
		}
	}
	td.button, .display
	{
		margin: 0px;
		padding: 0px;
		text-align: center;
	}
	
	td.playing.button
	{
		height: 20%;
	}
	
	td.previous
	{
		height: 25%;
		width: 15%;
	}
	
	td.play-pause.button
	{
		width: 40%;
	}
	
	td.next.button
	{
		width: 15%;
	}
	
	td.volume-down.button
	{
		height: 15%;
	}
	
	td.volume-indicator
	{	
		div
		{
			width: 10%;
			background: rgba(255,255,255,0.4);
			margin: 3%;
			display: inline-block;
		}
		
		div.filled { background: transparentize($color2, 0.3); }
		
		#level-1 { height: 10%; }
		#level-2 { height: 25%; }
		#level-3 { height: 40%; }
		#level-4 { height: 55%; }
		#level-5 { height: 70%; }
	}
	
	td.volume-up.button
	{
	}
	
	td.shuffle.button
	{
		height: 15%;
	}
	
	td.back.button
	{
		font-size: 32px;
		line-height: 40px;
	}
	
	td.repeat.button
	{
	}
	
	#devices-h
	{
		height: 25%;
	}
	
	#devices-v
	{
		width: 30%;
	}
}

.white.box ul.devices
{
	li
	{
		&.active
		{
			a.item { color: rgba(0,0,0,0.8); }
			p { font-weight: bold; }
			p.meta
			{
				font-weight: normal;
				color: rgba(0,0,0,0.9);
			}
		
			&:hover
			{
				a.item { color: white; }
				p.meta { color: white; }
			}
		}
	}
}

#remote-controls
{
	background: white;
	width: 100%;
	height: 100%;
	word-spacing: 0px;
	letter-spacing: 0px;
	font-size: 0px;
	height: 100%;
	
	div, .button, .display
	{
		border: 1px solid black;
		box-sizing: border-box;
		display: inline-block;
		margin: 0px;
		padding: 0px;
		word-spacing: 3px;
		letter-spacing: 1px;
		font-size: 12pt;
		box-shadow: none;
		text-align: center;
		position: relative;
	}
	
	span
	{
		position: absolute;
		top: 50%;
		height: 20px;
		margin-top: -10px;
		font-size: 10px;
	}
	
	.button { background: $color2; }
	.display { background: $color1; }
}