#settings
{
}

#linksettings
{
	table
	{
		border-spacing: 0;
		margin-bottom: 10px;
		
		td
		{
			padding: 5px 0px;
			border-bottom: 1px solid rgba(0,0,0,0.4);
			h2 { margin: 0px; }
		}
		
		td.noborder { border: 0; }
		
		.label
		{
		}
		
		.info
		{
			color: rgba(0,0,0,0.5);
			font-style: italic;
			padding: 0px 30px;
		}
		
		.control
		{
		}
		
		.button { margin: 0px 0px 30px; }
		
		.compact
		{
			margin: 0;
			h2 { margin-right: 20px; }
			td { margin: 0; }
			.button { margin: 0; }
		}
	}
	
	min-height: 650px;
	.ad
	{
		float: right;
		margin: 20px 10px 0px 0px;
	}
}

#profile
{
	display: inline-block;
	.ad { margin-top: 20px; }
}

.devise-links
{
	margin-left: -20px;
	a
	{
		text-transform: lowercase;
		padding-left: 30px;
		&:first-child { padding-left: 0px; }
		&:hover { text-decoration: none; }
	}
}