<div class="bluebox">
	<h1 class="title">Guides</h1>
	<p>Translate</p>
	<p>Test</p>
	<p>Develop</p>
	<p>Document</p>
	<p>Promote</p>
	<p>Design</p>
</div>

<div class="bluebox">
	<h1 class="title">Service API</h1>
	<p>Introduction</p>
	<p>Tutorial</p>
	<p>Examples</p>
	<p>Reference</p>
	<p>Support</p>
</div>

<div class="bluebox">
	<h1 class="title">Plugin API</h1>
	<p>Introduction</p>
	<p>Tutorial</p>
	<p>Examples</p>
	<p>Reference</p>
	<p>Support</p>
</div>

<div class="bluebox">
	<h1 class="title">Latest updates</h1>
	<p>Issue update</p>
	<p>Code commit</p>
	<p>Issue update</p>
	<p>Code commit</p>
</div>